.scroll-container {
  position: fixed;

  left: 0;
  width: 100%;
  height: 5px;
}
.scroll-container .indicator {
  height: 100%;
  background: #ee2c2c;
}
.cursor-pointer {
  cursor: pointer;
}
.scroll-to-top {
  position: fixed;
  bottom: 12px;
  left: 50%;
  width: 50px;
  height: 50px;
  border-radius: 100%;

  color: #fff;
  z-index: 1;
}
.scroll-to-top .icon {
  animation: scrollTop 0.5s alternate ease infinite;
}
.scroll-to-top :hover {
  color: #fd1f1f;
}

@keyframes scrollTop {
  from {
    transform: translateY(2px);
  }
  to {
    transform: translateY(-1px);
  }
}
.p {
  font-size: larger;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
